html {
    user-select: none;
    font-family: sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 25, 25);
    justify-content: center;
    color: rgb(233, 233, 233);
}
.tellrestricted {
    display: none;
}

/*      format      */

.itworkedwell {
    background-color: greenyellow;
    transition: ease 0.4s;
}
.mcfont {font-family: Minecraft; transform: translateY(5px);}
.golden {color: rgb(255, 229, 31)}
.bold {font-weight: 600;}

/*      content      */

.topbar {
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(85deg, rgb(46, 42, 22) 20%, rgb(22, 46, 22), rgb(46, 22, 22) 80%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: 0 20px;
    & div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        & div {
            font-size: 18px;
            background-color: rgb(86, 30, 30);
            border-radius: 90px;
            padding: 6px 16px;
            transition: ease 0.2s;
            cursor: pointer;
            &:hover {
                background-color: rgb(144, 40, 40);
                box-shadow: 0 0 6px rgb(144, 40, 40);
            }
        }
        & .selected {
            position: relative;
            transition: all 0.2s ease-in-out;
            overflow: hidden;
            background-color: rgb(144, 40, 40);
            box-shadow: 0 0 15px rgb(144, 40, 40) !important;
            cursor: default;
            padding: 8px 20px;
            font-size: 20px;
            &::before {
                content: "";
                position: absolute;
                width: 100px;
                height: 100%;
                background-image: linear-gradient(
                    120deg,
                    rgba(255, 255, 255, 0) 30%,
                    rgba(240, 248, 255, 0.8),
                    rgba(255, 255, 255, 0) 70%
                );
                top: 0;
                left: -100px;
                opacity: 0.6;
                animation: shine 4s ease-out infinite;
            }
        }
    }
    & .logo {
        cursor: pointer;
        & img {
            height: 60px;
            padding: 10px 5px;
        }
    }
    & .socials {
        display: flex;
        flex-direction: row;
        gap: 10px;
        & div {
            padding: 0px;
            &:hover {
                box-shadow: 0 0 10px rgb(144, 40, 40);
            }
        }
        & img {
            height: 45px;
            border-radius: 90px;
        }
    }
    & .pwu, .cotw {
        background-color: rgba(255, 229, 31, 0.5);
        box-shadow: 0 0 10px rgba(0,0,0, 0.2);
        font-size: 20px;
        font-weight: 400;
        padding-left: 20px;
        & .icon {
            font-family: 'Material Symbols Rounded';
            font-size: 24px;
            padding: 0;
        }
        &:hover {
            background-color: rgba(255, 229, 31, 0.8);
            color: black;
            box-shadow: 0 0 10px rgba(255, 229, 31, 0.6);
        }
    }
}

@keyframes shine {
    0% {left: -100px}
    20% {left: 100%}
    to {left: 100%}
}

#fetcher {
    min-height: 110vh;
    width: 100%;
}

.linksnstuff, .copyrights {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.generalBellow {
    display: flex;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    & .imger {
        object-position: -50px -300px;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        filter: brightness(0.7);
    }
}

.linksnstuff {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    & .images {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 20%;
        & img {
            width: 100%;
        }
    }
    & .links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        & .link {
            display: flex;
            flex-direction: row;
            padding: 25px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 15px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
                text-decoration: underline;
            }
        }
        & .link::before {
            content: "";
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            background-color: rgb(255, 229, 31);
            border-radius: 90px;
            width: 2px;
            height: 100%;
            margin-right: 15px;
        }
    }
    & .connexions {
        display: flex;
        flex-direction: column;
        gap: 25px;
        & img {
            border-radius: 90px;
            height: 45px;
            width: auto;
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, 0.076);
                text-decoration: underline;
            }
        }
    }
}

.copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 100%;
}

@media only screen and (max-width: 1015px) {
    .generalContainer {
        display: none !important;
    }
    .tellrestricted {
        position: relative;
        display: flex !important;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        font-size: 24px;
        & img {
            width: 300px;
            margin-bottom: 60px;
        }
        & span {
            font-size: 32px;
        }
        & .bottomcr {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 60px;
            font-size: 16px;
        }
    }
}